[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CircStats"]
	path = CircStats
	url = https://github.com/cran/CircStats
[submodule "GSE"]
	path = GSE
	url = https://github.com/cran/GSE
[submodule "robustsur"]
	path = robustsur
	url = https://github.com/cran/robustsur
[submodule "robustvarComp"]
	path = robustvarComp
	url = https://github.com/cran/robustvarComp
